@each $variant, $weight in $b-var-fontweights {
	@include m-mix-font-face(noto, /fonts/notosans-#{$variant}-webfont, $weight, normal, woff2 woff);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-family: f-func-getbase(font-family);
	font-size: f-func-getbase(font-size);
	font-weight: f-func-getfontweight(normal);

	overflow-x: hidden;

	color: f-func-getbase(color);
	background-color: f-func-getbase(background-color);

	text-size-adjust: f-func-getbase(font-size);
}

body,
html {
	width: 100%;
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;

	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;

	height: 0;
}

[hidden],
template {
	display: none;
}

abbr[title] {
	text-decoration: underline dotted;

	border-bottom: none;
}

svg:not(:root) {
	overflow: hidden;
}

pre {
	overflow: auto;
}

button,
input,
optgroup,
select,
fieldset,
textarea {
	font: inherit;

	margin: 0;
	padding: 0;

	border: 0;
	border-radius: 0;
	background: none;

	appearance: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 0;

	cursor: pointer;

	border: 0;

	appearance: none;
}

button[disabled],
html input[disabled] {
	cursor: not-allowed;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;

	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
}

legend {
	padding: 0;

	border: 0;
}

textarea {
	overflow: auto;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

td,
th {
	white-space: normal;
}

ol,
ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

dd,
dl {
	margin: 0;
}

mark {
	background: hsla(0, 0%, 92%, 1);
}
